* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;

}

ul,
li,
ol {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.container {
    max-width: 1144px;
    width: 71%;
    margin: 0 auto;
}

button {
    padding: 19px 36px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    font-family: "Open Sans", sans-serif;
}
.nav_logo span{
    font-size: 45px;
    color:  #FD6E0A;;
    font-size: 20px;
    font-weight: 700;
    border: none;
    font-family: "Open Sans", sans-serif;

}
.nav_logo h2{
    font-size: 45px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    font-family: "Open Sans", sans-serif;

}
.nav_items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_list{
      display: flex;
      gap: 20px;
      align-items: center;

}